body{
    background: rgba(63, 104, 73, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 606px;

}
.conteudo{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    margin: 50px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}
.perfil{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px rgb(47, 197, 231);
}
.imagem{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.perfil .imagem img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.perfil h2{
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 22.4px;
}
.perfil h2 span{
    font-size: 18px;
    font-weight: 300;
}
.esquerda{
    position: relative;
    background: rgb(56, 105, 87);
    padding: 40px;
}
.info{
    padding-top: 40px;
}
.titulo{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}
.info ul{
    position: relative;
}
.info ul li{
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.info ul li .icone{
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: aquamarine;
}
.info ul li span{
    color: #fff;
    font-weight: 300;

}
.info2 li{
    margin-bottom: 15px;
    display: inline-block;
}
.info2 h5{
color: blueviolet;
font-weight: 500;
}
.info2 h4{
    color: #fff;
    font-weight: 500;
}
.lingua .porcento{
    position: relative;
    width: 100%;
    height: 6px;
    background: rgb(17, 17, 17);
    display: block;
    margin-top: 5px;
}
.lingua .porcento div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(17, 85, 48);
}
.direita{
    position: relative;
    background: #fff;
    padding: 40px;
}
.sobre{
    margin-bottom: 50px;
}
.sobre :last-child{
    margin-bottom: 0;
}
.titulo2{
    color: rgb(67, 21, 88);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: rgb(67, 21, 88);
}
.trabalho{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}
.ano{
    min-width: 150px;
}
.skill .sobre{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}
.skill .sobre h4{
    text-transform: uppercase;
    color: rgb(78, 25, 76);
    font-weight: 500;
}
.skill .sobre .porcento{
    position: relative;
    width: 100%;
    height: 10px;
    background: rgb(153, 149, 155);
}
.skill .porcento div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(63, 6, 54);
}
.interesse ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.interesse ul li{
    list-style: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 10px 0;
}
.interesse ul li .fa{
    color: rgb(56, 15, 47);
    font-size: 18px;
    width: 20px;
}
